In [3]:
import pandas as pd
import os

In [4]:
os.getcwd()

'/workspaces/DeepAudioClassification'

In [5]:
df = pd.read_csv('results.csv')

In [6]:
df.head()

          recording  capuchin_calls
0  recording_00.mp3               5
1  recording_01.mp3               0
2  recording_02.mp3               0
3  recording_03.mp3               0
4  recording_04.mp3               4